<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Partierne</title>
    <link rel="stylesheet" href="../../static/globalCSS.css">
</head>
<body>

<nav>
    <ul>
        <a href="../index/index_lang.html">
            <img id="logo" src="../../static/GK_Logo-m-vabenskjold_Neg_RGB.png">
        </a>

        <il>
            &nbsp;
            &nbsp;
            &nbsp;
        </il>

        <il>
            <a href="../parties/parties_lang.html">ฝ่าย</a>
        </il>
        <il>
            &nbsp;
            &nbsp;
            &nbsp;
        </il>
        <il>
            <a href="../candidates/candidates_lang.html">ผู้สมัคร</a>
        </il>
    </ul>
</nav>
<div id="party-div"></div>
<script src="parties.js"></script>
</body>
</html>