<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parti</title>
    <link rel="stylesheet" href="../../static/globalCSS.css">
</head>
<body>

    <nav>
        <ul>
            <a href="../index/index.html">
                <img id="logo" src="../../static/GK_Logo-m-vabenskjold_Neg_RGB.png">
            </a>

            <il>
                &nbsp;
                &nbsp;
                &nbsp;
            </il>

            <il>
                <a href="../parties/parties.html">Partierne</a>
            </il>
            <il>
                &nbsp;
                &nbsp;
                &nbsp;
            </il>
            <il>
                <a href="../candidates/candidates.html">Kandidaterne</a>
            </il>
        </ul>
    </nav>

    <p style="text-align: center">Parti:</p>
    <h2 id="party-name" style="text-align: center"></h2>

    <p style="text-align: center">Formand:</p>
    <h2 id="party-chairman" style="text-align: center"></h2>

    <p style="text-align: center">Procentgevindst til valget 2021:</p>
    <h2 id="party-percentage" style="text-align: center"></h2>

<script src="party.js"></script>
</body>
</html>