<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forside</title>
    <link rel="stylesheet" href="../../static/globalCSS.css">
</head>
<body>

    <nav>
        <ul>
            <a href="../index/index.html">
                <img id="logo" src="../../static/GK_Logo-m-vabenskjold_Neg_RGB.png">
            </a>
            <il>
                &nbsp;
                &nbsp;
                &nbsp;
            </il>


            <il>
                <a href="../parties/parties.html">Partierne</a>
            </il>
            <il>
                &nbsp;
                &nbsp;
                &nbsp;
            </il>
            <il>
                <a href="../candidates/candidates.html">Kandidaterne</a>
            </il>
        </ul>
    </nav>
    <a href="../index/index_lang.html" style="position: absolute; left: 75%; top: 2%; font-size: 40px">Click here for thailandish</a>
    <h1 id="welcome-title">Velkommen til gentofte kommunes valgresultater!</h1>

    <div id="frontpage-image">
        <img class="hans-toft-image" src="../../static/hans_toft.jpg">
    </div>


</body>
</html>